.git
.github
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
.env
.env.*
!.env.example
*.md
!README.md
.venv
.tmp_dagster_home_*
**/.dagster
**/target/
**/dbt_packages/
dataprocessing/meltano_ingestion/.meltano
dataprocessing/meltano_ingestion/staging/*.jsonl
dataprocessing/meltano_ingestion/staging/*.csv
**/node_modules
visualisation/frontend/.next
**/*.tsbuildinfo
